.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Ajoute le défilement vertical si le contenu dépasse */
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    max-height: 90%; /* Limite la hauteur pour éviter de dépasser l'écran */
    overflow-y: auto; /* Active le défilement interne si nécessaire */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  